* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf");
}

body{
    font-family:"Roboto-Regular";
    overflow-x: hidden;
}

.red-header{
    background-color: #ff3946;
    width: 100vw;
    height: 6vh;
    color: #ffff;
    position: relative;
}

.p-nav{
    font-size: 1.5rem;
    padding-left: 5vh;
    position: absolute;
    top: 1.2vh;
}

.ls-span{

    color: #000;
}

.ul-nav{
    position: absolute;
    top: 1.6vh;
    left: 30vh;
    font-size: 1.1rem;
}

.ul-login-links{
    position: absolute;
    top: 1.6vh;
    right: 0vh;
    font-size: 1.1rem;
}

.ul-nav a, .ul-login-links a{

    text-decoration: none;
    color:#ffff;
    padding-left: 2vh;
}

.ul-login-links a{

    padding-right: 2vh;
    padding-left: 0;
}

.ul-login-links a:nth-child(2){

    background-color: #ffff;
    color: #ff3946;
    width: 5vw;
    height: 6vh;
    padding: 2.5vh;
    font-weight: bold;
}

.div-header{
    position: absolute;
    top: 6vh;
    width: 100%;
    height: 100vh;
}

.div-header .img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-preto{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0,0.2);
}

.p-title{

    position: absolute;
    text-align: center;
    font-size: 2.5rem;
    left: 40vh;
    top:50vh;
}

.p-subtitle{

    position: absolute;
    text-align: center;
    font-size: 1.9rem;
    left: 57vh;
    top:57vh;
    
}

.div-o-que-fazemos{
    margin-top: 3vh;
    position: relative;
    top: 103vh;
}

.p-o-que-fazemos{
    font-size: 2.1rem;
    color: #000;
    text-align: center;
    font-weight: bolder;
    /*position: absolute;
    /*top: 100vh;*/
}

.box-o-que-fazemos{
    display: grid;
    grid-template-columns: 3;
    grid-auto-flow: column;
    place-items: center;
    justify-content: center;
    position: absolute;
    top: 13vh;
    gap: 0 60vh;
    width:100vw;
}

.box-item-o-que-fazemos{
    width: 19vw;
    height:40vh;
    background-color:#ffff;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.15vw solid #eeee;
}

.box-item-o-que-fazemos:nth-child(2){
    border: 0.1vw solid #ff3946;
    position: absolute;
    top: -3vh;
}

.div-img-circle{
    width: 18vh;
    height: 18vh;
}

.img-circle{
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 3vh;
    border: 0.25vw solid #ff3946;

}

.p-text-box-item{

    margin-top: 8vh;
    text-align: center;
    font-size: 1.3rem;
}

.div-noticias-desportivas{

    display: grid;
    grid-template-columns: 60vw 40vw;
    height:50vh;
    grid-auto-flow: column;
    position: absolute;
    top: 65vh;
}

.noticias-desportivas{

    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
    /*width: 60vw;
    height: 50vh;*/
    background-color: #ff3946;
    border-radius: 1vh;
    margin: 8vh;
}

.div-desporto{

    margin-left: 10vh;
}

.esquerda-red-div{

    width: 30vw;
    height: 50vh;
}

.esquerda-red-div-p{

    color: #ffff;
    font-size: 1.9rem;
    text-align: center;
    display: grid;
    place-items: center;
    height: 55vh;
}

.direito-red-div{
    width: 30vw;
    height: 50vh;
    background-color:#ff3946;
}

.direito-red-div-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-p-desporto{

    position: absolute;
    top: 17vh;
    
}

.div-p-desporto p{

    font-size: 1.9rem;
    font-weight: bolder; 
    margin-left: 3vh;
}

.div-p-desporto p:nth-child(1),.div-p-desporto p:nth-child(3),.div-p-desporto p:nth-child(5),.div-p-desporto p:nth-child(7){
    color: #ff3946;
}

.btn-cadastrar{
    border: none;
    background-color: #ff3946;
    color: #ffff;
    width: 10vw;
    height: 6vh;
    font-size: 1.5rem;
    border-radius: 0.8vh;
    position: absolute;
    top: 30vh;
    left: 71vw;
    cursor: pointer;
}

.section-formas-de-pagamento-p{
    position: absolute;
    top: 135vh;
    font-size: 2.1rem;
    color: #000;
    font-weight: bolder;
    display: grid;
    place-items: center;
    width: 100vw;
}

.section-formas-de-pagamento-item{

    position: absolute;
    top: 140vh;
    display: grid;
    grid-template-columns: 3;
    grid-auto-flow: column;
    place-items: center;
    justify-content: center;
    gap: 0 10vh;
    width: 100vw;
    height: 40vh;
}

.section-formas-de-pagamento-item-div{

    width: 25vw;
    height: 25vh;
    background-color: #ffff;
    box-shadow: 0px 0px 0.8vh rgba(0,0,0,0.25);
    border-radius:1vh;
}

.section-formas-de-pagamento-item-div:nth-child(2){

    background-color:#FF5C62;
    color: #ffff;

}

.section-formas-de-pagamento-item-div--img-div{

    width:11vh;
    height: 11vh;
    position: relative;
}   

.section-formas-de-pagamento-item-div--img-div-img{
    width:11vh;
    height: 11vh;
    border-radius: 50%;
    object-fit: cover;
    border: 0.30vw solid #ff3946;
    position: absolute;
    left: 45vh;
    top: -4vh;
    
}

.img-2{

    border: 0.30vw solid #fff;
}

.section-formas-de-pagamento-item-div--img-div-title{
    font-size: 1.6rem;
    font-weight: bolder;
    position: absolute;
    top: 11vh;
    margin-left: 3vh;
    color:#ff3946 ;
}

.title-2{
    color:#fff;
}

.section-formas-de-pagamento-item-div--img-div-info{
    margin: 3vh;
    margin-top: -1vh;
    text-align: justify;

}

.section-notificacoes{
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
    justify-content: center;
    place-items: center;
    position: absolute;
    top: 190vh;
}

.section-notificacoes-ilustration{

    width: 50vw;
    height: 40vh;
    position:relative;
}

.section-notificacoes-ilustration-img{

    object-fit: cover;
    position: absolute;
    left: 7vh;
}

.red-rectangle{
    width: 40vw;
    height: 40vh;
    position: relative;
    z-index: 2;
}

.red-rectangle-img{

    position: absolute;
    top: 7vh;
    left: -5vh;
    z-index: 2;
    width: 35vw;
}

.red-rectangle-polygon{

    position: absolute;
    top: 16vh;
    left: -8vh;
    z-index: 1;
}

.red-rectangle-title{

    position: absolute;
    top: 10vh;
    font-size: 1.5rem;
    z-index: 3;
    text-align: center;
    margin: 2vh;
}

.red-rectangle-title-entregamos{

    position: absolute;
    top: 30vh;
    font-size: 1.5rem;
    text-align: center;
    display: grid;
    justify-content: center;
    place-items: center;
    width: 30vw;
}

.div-btn{
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
    place-items: center;
    justify-content: center;
    position: absolute;
    top: 45vh;
    gap: 0 10vh;
}

.btn-imediata, .btn-sumaria{
    border: none;
    width: 10vw;
    height: 7vh;
    font-size: 1.4rem;
    border-radius: 1vh;
    cursor: pointer;
}

.btn-imediata{

    background-color: #000;
    color: #fff;
}

.btn-sumaria{
    border: 0.30vw solid #000;
    box-shadow: 0px 0px 0.8vh rgba(0,0,0,0.25);
}

.div-imagem-rectangular{
    display: grid;
    grid-template-columns: 2;
    width: 90vw;
    height: 50vh;
    position: absolute;
    top: 270vh;
    margin-left: 6vw;
}

.div-imagem-rectangular-subdiv{
    display: grid;
    grid-template-columns: 5;
    grid-auto-flow: column;
    width: 50vw;
    height: 50vh;
    gap: 0 1vw;
   
}

.div-imagem-rectangular-subdiv-item{
    width: 5vw;
    height: 50vh;
}

.div-imagem-rectangular-subdiv-item-img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3vw;
}

.p-red-part{
    color: #ff3946;
    font-size: 1.5rem;
    font-weight: bolder;
}

.p-span{
    color: #000;
}

.div-imagem-rectangular-subdiv-p{
    position: absolute;
    top: 25vh;
    left: 68vw;
}