.login-button {
    font-family: RobotoBold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff3a40d8;
    border-radius: 1rem;
    padding: 2rem 7.5rem;
    font-size: 2rem;
    border: none;
    margin-top: 5rem;
    cursor: pointer;
}
.login-button:hover {
    background-color: #ff3a40;
}
.did-you-forgort-the-password {
    color: #141414;
    align-self: flex-end;
    font-size: 1.6rem;
    margin: 2rem 0;
}
.register {
    align-self: center;
    font-size: 1.4rem;
    margin-top: 5.5rem;
    color: #FF3A41;
}
.register .register-link {
    font-weight: bolder;
    text-decoration: none;
    color: #FF3A41;
}
@media screen and (max-width: 765px){
    .register {
        color: #fff;
    }
    .register .register-link {
        color: #ffffff;
    }
}