.sign-up-button {
    font-family: RobotoBold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff3a40d8;
    border-radius: 1rem;
    padding: 2rem 7.5rem;
    font-size: 2rem;
    border: none;
    margin-top: 5rem;
    cursor: pointer;
}
.sign-up-button:hover {
    background-color: #ff3a40;
}
.login {
    align-self: center;
    font-size: 1.4rem;
    margin-top: 5.5rem;
    color: #FF3A41;
}
.login .login-link {
    font-weight: bolder;
    text-decoration: none;
    color: #FF3A41;
}
@media screen and (max-width: 765px){
    .login {
        color: #fff;
    }
    .login .login-link {
        color: #ffffff;
    }
}