@font-face {
    font-family: RobotoBold;
    src: url(../font/Roboto-Bold.ttf);
}

.main-container {
    display: flex;
    height: 100vh;
}
.left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #FF3A41;
}

.heading-2 {
    font-family: RobotoBold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.normal-text {
    text-align: center;
    font-size: 1.4rem;
}
.right-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.step-title {
    font-family: RobotoBold;
    font-size: 4.2rem;
    margin: 3.5rem 0;
    margin-bottom: 0;
}
.form {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}
.input-row {
    position: relative;
    margin: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #0000000f;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
}
.option-to-select {
    padding: 1rem;
    font-size: 2.2rem;
    margin-right: 2rem;
}
.checkbox-modality {
    border: none;
    appearance: none;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
}
.checkbox-modality:active, .checkbox-modality:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox-modality:checked {
    background-color: #fff;
}
.checkbox-modality:checked {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #ffffff;
}
.checkbox-modality:checked:after {
	content: '\2714';
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    color: #00A32B;
}

.progress-dotted-row {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.progress-dotted-row .dotted-item {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #ff3a4094;
    border-radius: 50%;
    margin: 0 2rem;
    margin-top: 2rem;
}
.progress-dotted-row .active {
    background-color: #FF3A41;
}

.submit-button {
    border: none;
    padding: 1.5rem 5rem;
    border-radius: 1rem;
    background-color: #FF3A4194;
    color: #fff;
    font-size: 2.4rem;
    font-family: RobotoBold;
    margin-top: 2.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.submit-button:hover {
    background-color: #ff3a40;
}
.active-checked-item {
    background: #00A32B;
    color: #fff;
}
@media screen and (max-width: 765px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }
    .left-container {
        width: 100%;
        height: 40%;
    }
    .right-container {
        width: 100%;
        height: 60%;
        justify-content: flex-start;
    }
    .form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-row {
        width: 80%;
        margin: 2.5rem 0;
    }
}