* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf");
}

body{
    font-family:"Roboto-Regular";
    overflow-x: hidden;
}
.bold {
    font-weight: bolder;
}
.normal {
    font-weight: 100;
}