<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin/header.css">
    <link rel="stylesheet" href="../../css/normalize/normalize.css">
    <link rel="stylesheet" href="../../css/universal.css">
    <link rel="stylesheet" href="../../css/admin/menu.css">
    <link rel="stylesheet" href="../../css/admin/functionality-panel-general.css">
    <link rel="stylesheet" href="../../css/admin/home.css">
    <link rel="stylesheet" href="../../css/user-profile.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Ricardo Lopes</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header--left-part">
            <h1 class="lssport-title">ls<span class="lssport-title--bold-part">sport</span></h1>
        </div>

        <div class="main-header--right-part">
            <button class="remove-modifications">Voltar</button>
        </div>
    </header>

    <div class="main-container">
        <section class="user-profile-important-info">
            <section class="user-image-container">
                <img src="../../img/outras-img/pexels-alexander-nadrilyanski-3684122.jpg" alt=""
                    class="user-profile-image">

                <img src="../../icons/emojione_flag-for-angola@3x.svg" alt="" class="user-nationality-icon">
            </section>
            <section class="user-more-info-container">
                <h1 class="user-name">
                    {{ userName }}
                    <img src="../../icons/noto-v1_male-sign@3x.svg" alt="gender representation" class="user-gender">
                </h1>
                <section class="user-brief-info">
                    <h3 class="user-age">18 anos</h3>
                    <section class="user-liked-modalities">
                        <h3 class="user-modalites-label normal-label">Modalidades Favoritas</h3>

                        <section class="modalites-liked-by-the-user">
                            <img v-for="modality in modalitiesLiked" :src="modality.imageUrl" alt="" class="modalities-icon">
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section class="user-bottom-section-controller">
            <section class="main-info-controller flex-direction">
                <input type="text" class="user-name-input" :value="userName">

                <h3 class="user-modalites-label normal-label">Modalidades</h3>
                <section class="container-all-modalities-to-see">
                    <div v-for="modality in modalitiesLiked" class="modality-icon-container">
                        <img :src="modality.imageUrl" alt="" class="modalities-icon">
                        <img src="../../icons/clarity_times-circle-line@3x.svg" alt="" class="remove-icon" @click="remove(modality.name)">
                    </div>
                </section>


                <h3 class="user-gender-label normal-label">Sexo</h3>
                <section class="container-control-the-gender">
                    <div class="gender-icon-container gender-selected" @click="changeGender('male')">
                        <img src="../../icons/noto-v1_male-sign@3x.svg" alt="" class="genders-icon">
                    </div>

                    <div class="gender-icon-container" @click="changeGender('female')">
                        <img src="../../icons/noto-v1_female-sign@3x.svg" alt="" class="genders-icon">
                    </div>
                </section>

                <h3 class="user-nationality-label normal-label">Nacionalidade</h3>
                <section class="container-control-the-nationality">
                    <select name="" id="nationality-controller">
                        <option value="angola">
                            <img src="../../icons/emojione_flag-for-angola@3x.svg" alt="country flag"
                                class="nationality-icon">Angolana
                        </option>
                        <option value="angola">
                            <img src="../../icons/emojione_flag-for-angola@3x.svg" alt="country flag"
                                class="nationality-icon">Sul-Africana
                        </option>
                        <option value="angola">
                            <img src="../../icons/emojione_flag-for-angola@3x.svg" alt="country flag"
                                class="nationality-icon">Guinense
                        </option>
                    </select>
                </section>

                <h3 class="user-birth-day-label normal-label">Data de Nascimento</h3>
                <section class="container-control-the-birth-day">
                    <select name="" id="day-of-birth date-field">
                        <option value="1">
                            1
                        </option>
                        <option value="2">
                            2
                        </option>
                        <option value="3">
                            3
                        </option>
                        <option value="4">
                            4
                        </option>
                        <option value="5">
                            5
                        </option>
                        <option value="6">
                            6
                        </option>
                        <option value="7">
                            7
                        </option>
                        <option value="8">
                            8
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="10">
                            10
                        </option>
                        <option value="11">
                            11
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="13">
                            13
                        </option>
                        <option value="14">
                            14
                        </option>
                        <option value="15">
                            15
                        </option>
                        <option value="16">
                            16
                        </option>
                        <option value="17">
                            17
                        </option>
                        <option value="18">
                            18
                        </option>
                        <option value="19">
                            19
                        </option>
                        <option value="20">
                            20
                        </option>
                        <option value="21">
                            21
                        </option>
                        <option value="22">
                            22
                        </option>
                        <option value="23">
                            23
                        </option>
                        <option value="24">
                            24
                        </option>
                        <option value="25">
                            25
                        </option>
                        <option value="26">
                            26
                        </option>
                        <option value="27">
                            27
                        </option>
                        <option value="28">
                            28
                        </option>
                        <option value="29">
                            29
                        </option>

                        <option value="30">
                            30
                        </option>
                        <option value="31">
                            31
                        </option>
                        <option value="20">
                            20
                        </option>
                        <option value="20">
                            20
                        </option>
                        <option value="20">
                            20
                        </option>
                    </select>

                    <select name="" id="month-of-birth date-field">
                        <option value="1">
                            1
                        </option>
                        <option value="2">
                            2
                        </option>
                        <option value="3">
                            3
                        </option>
                        <option value="4">
                            4
                        </option>
                        <option value="5">
                            5
                        </option>
                        <option value="6">
                            6
                        </option>
                        <option value="7">
                            7
                        </option>
                        <option value="8">
                            8
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="10">
                            10
                        </option>
                        <option value="11">
                            11
                        </option>
                        <option value="12">
                            12
                        </option>
                    </select>

                    <select name="" id="year-of-birth date-field">
                        <option value="2021">
                            2021
                        </option>
                        <option value="2020">
                            2020
                        </option>
                        <option value="2019">
                            2019
                        </option>
                        <option value="2018">
                            2018
                        </option>
                        <option value="2017">
                            2017
                        </option>
                        <option value="2016">
                            2016
                        </opoptionion>
                        <option value="2015">
                            2015
                        </option>
                        <option value="2014">
                            2014
                        </option>
                        <option value="2013">
                            2013
                        </option>
                        <option value="2012">
                            2012
                        </option>
                        <option value="2011">
                            2011
                        </option>
                        <option value="2010">
                            2010
                        </option>
                        <option value="2009">
                            2009
                        </option>
                        <option value="2008">
                            2008
                        </option>
                        <option value="2007">
                            2007
                        </option>
                        <option value="2006">
                            2006
                        </opoptionion>
                        <option value="2005">
                            2005
                        </option>
                        <option value="2004">
                            2004
                        </option>
                        <option value="2003">
                            2003
                        </option>
                        <option value="2002">
                            2002
                        </option>
                        <option value="2001">
                            2001
                        </option>
                        <option value="2000">
                            2000
                        </option>
                        <option value="1999">
                            1999
                        </option>
                        <option value="1998">
                            1998
                        </option>
                        <option value="1997" selected="true">
                            1997
                        </option>
                    </select>
                </section>

            </section>



            <section class="main-payments-info flex-direction">
                <h3 class="h3-title">Log de Pagamentos</h3>

                <div class="logs-container">
                    <div class="logs-row-filter-row">
                        <p class="log-filter-label">Ordenar por: </p>
                        <select name="" id="" class="" @change="filterPayments">
                            <option value="1">
                                Todos
                            </option>
                            <option value="2">
                                Pre-pago
                            </option>
                            <option value="3">
                                Mensal
                            </option>
                            <option value="4">
                                Factura
                            </option>
                        </select>
                    </div>

                    <div v-for="payment in paymentsLogsShowed" class="payment-log-container">
                        <div  class="payment-info">
                            <h2 class="payment-value" :class="{ greenColor: payment.type.toLowerCase() == 'pre-pago', blueColor: payment.type.toLowerCase() == 'factura', orangeColor: payment.type.toLowerCase() == 'mensal' }">+ {{ payment.value }} AOA</h2>
                            <h4 class="payment-method">{{ payment.type }}</h3>
                            <h3 class="divayment-date">{{ payment.date }}</h3>
                        </div>
                        
                        <div class="income-container-symbol" :class="{ 'green-symbol-container': payment.type.toLowerCase() == 'pre-pago', 'blue-symbol-container': payment.type.toLowerCase() == 'factura', 'orange-symbol-container': payment.type.toLowerCase() == 'mensal' }">
                            <img src="../../icons/dashicons_money-alt@3x.svg" alt="money" class="income-symbol">
                        </div>
                    </div>

                </div>
            </section>


            <section class="more-detail-controller-and-info-notifications flex-direction">
                <h3 class="h3-title">Últimas Notificações Enviadas</h3>

                <section class="last-notifications-sended-container">
                    <div v-for="notification in notifications" class="div-msg">
                        <p style="font-size: 14px;">{{ notification.time }}</p><br> <img
                            src="../../icons/ant-design_message-filled@3x.svg" alt="">
                        <p style="font-size: 14px;">{{ notification.header }}</p><br>
                        <p style="font-size: 1brpx;color:#646464;">{{notification.desc}}</p>
                    </div>

                    
                </section>

                <div class="aux-controller-container">
                    <div class="aux-contoller-container-1">
                        <h3 class="h3-title">Modalidade de Pagamento</h3>

                        <section class="payment-controller">
                            <div class="row payment-type-row">
                                <input type="radio" name="payment-politic" id="" class="payment-check-box checked check-box">
                                Factura
                            </div>

                            <div class="row payment-type-row">
                                <input type="radio" name="payment-politic" id="" class="payment-check-box check-box">
                                Conta
                            </div>

                            <div class="row payment-type-row">
                                <input type="radio" name="payment-politic" id="" class="payment-check-box check-box" checked="true">
                                Pré-pago
                            </div>
                        </section>
                    </div>

                    <div class="aux-contoller-container-2">
                        <h3 class="h3-title">Envio de Notificações</h3>

                        <section class="send-politic-container">
                            <div class="row send-type-row">
                                <input type="radio" name="send-politic" id="" class="send-check-box checked check-box">
                                Sumário
                            </div>

                            <div class="row send-type-row">
                                <input type="radio" name="send-politic" id="" class="send-check-box check-box" checked="true">
                                Imedita
                            </div>
                        </section>
                    </div>
                </div>

            </section>

        </section>

        <button class="save-modifications">Salvar Modificações</button>
    </div>
    <script src="../../js/admin/user-profile.js"></script>
</body>

</html>