.centro-de-notif {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
   
}
.centro-de-notif img{
    -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(340deg);
  margin-left: 80px;
}

.total-notif{
    color: #00B1FF;
    margin-right: 90px;
    margin-top: 50px;
}

.not-titulo{
    font-size: 36px;
    margin-left: -550px;
    margin-top: 50px;
}

.notf-end{
    display: flex;
    margin-top: 80px;
}

.div-direita {
    
    width: 50%;
    height: 546px;
}

.div-direita h1 {
    font-size: 24px;
    margin-left:160px ;
}

.div-planilha{
    display: flex;
    justify-content: space-between;
    border: 1px solid #00000071;
    border-radius: 10px;
    height: 283px;
    width: 461px;
    margin-top: 40px;
    margin-left: 180px;
    margin-bottom: 20px;
}

.div-msg{
    border: 1px solid #00000071;
    border-radius: 10px;
    height: 117px;
    width: 129px;
    padding: 7px;
}

.div-msg img{
    float: right;
}

.div-hora{
    font-size: 144px;
    font-weight: bold;
    margin-left: 120px;
}

.div-esquerda{
    padding-left: 40px;
    width: 50%;
    height: 546px;
}

.div-esquerda input {
    height: 37px;
    width: 345px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #1D1D1D;
}

.div-esquerda select {
    height: 37px;
    width: 176px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #BDBABA;

}

.div-notf{
    margin-top: 10px;
    height: 340px;
    width: 667px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;

}

.notf-type {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
}

.imediata{
    color: white;
    background-color: #00b1ff;
    height: 80px;
    width: 188px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;

}
.sumario{
    color: white;
    background-color: #ffaf61;
    height: 80px;
    width: 188px;
    border-radius: 5px;
    margin-left:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;


}


