<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/normalize/normalize.css">
    <link rel="stylesheet" href="../css/firstPage.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>lssport - Pagina Principal</title>
</head>

<body>
    <header>
        <nav class="header-nav-element">
            <!--<div class="feucan-header-container">
                <img src="IMG/FEUCAN/120239328_725806741345929_9159541855444131938_n32x32.png" alt="FEUCAN Logo"
                    class="img-feucan-logo">
                <h1 class="feucan-title-menu">FEUCAN-IRMAT</h1>
            </div>-->

            <div class="menu-hamburguer">
                <span class="menu-hamburguer-line">

                </span>
                <span class="menu-hamburguer-line">

                </span>
                <span class="menu-hamburguer-line">

                </span>
            </div>

            <h1 class="lssport-title">ls<span class="text-white-color">sport</span></h1>

            <ul class="menu-mobile">
                <a href="#" class="menu-link">
                    <li class="menu-item">Home</li>
                </a>
                <a href="admin/user-profile.html" class="menu-link">
                    <li class="menu-item">Conta</li>
                </a>
                <a href="html/#" class="menu-link">
                    <li class="menu-item">Terminar</li>
                </a>
            </ul>

            <ul class="menu-list">
                <a href="#" class="menu-link">
                    <li class="menu-item">Home</li>
                </a>
                <a href="admin/user-profile.html" class="menu-link">
                    <li class="menu-item">Conta</li>
                </a>
                <a href="html/#" class="menu-link">
                    <li class="menu-item">Terminar</li>
                </a>
            </ul>
        </nav>
    </header>


    <div class="main-container flex-column-section">
        <section id="last-updates" class="normal-section flex-column-section">
            <h1 id="last-updates-title" class="heading-1">
                Últimos<br>Destaques
            </h1>
            <ul class="list">
                <li class="list-item nav active" @click="changeCurrentNews">Futebol</li>
                <li class="list-item nav" @click="changeCurrentNews">Automobilismo</li>
                <li class="list-item nav" @click="changeCurrentNews">Atletismo</li>
            </ul>

            <section id="updates-container">
                
                <div v-for="post in news[actualNewsTab]" class="updates-container--update flex-column-section">
                    <img :src="post.imageUrl" alt=""
                        class="updates-container--update-img">
                    <h2 class="updates-container--update-title">{{ post.title }}</h2>
                </div>

                <button v-if="news[actualNewsTab].length > 6" class="see-more-updates-button see-more-button">ver mais</button>
            </section>
        </section>

        <section id="updates-by-modality flex-column-section">
            <h1 id="modality-title" class="heading-1">
                Notícias por<br>Modalidades
            </h1>

            <div class="modalities-container">
                <a href="#" class="square-modality-container atletism">
                    <img src="../icons/fxemoji_running@3x.svg" alt="Atletismo" class="modality-icon">
                </a>
                <a href="#" class="square-modality-container soccer">
                    <img src="../icons/twemoji_soccer-ball.svg" alt="Atletismo" class="modality-icon">
                </a>
                <a href="#" class="square-modality-container racing">
                    <img src="../icons/fxemoji_racecar.svg" alt="Atletismo" class="modality-icon">
                </a>
            </div>

            <button class="see-more-modalities see-more-button">ver mais</button>
        </section>

        <section id="updates-by-highlight">
            <h1 id="highlight-title" class="heading-1">
                Destaques mais<br>Acessados
            </h1>

            <ul class="list">
                <li class="list-item active">Hoje</li>
                <li class="list-item">Ontem</li>
                <li class="list-item">Últimos 7 dias</li>
            </ul>

            <div class="highlights-container">
                <a class="highlights-items">
                    <img src="../img/outras-img/pexels-photo-3763871.jpeg" alt="" class="highlights-image">
                    <section class="highlight-text-container">
                        <p class="highlight-text">O menino revelação do basket</p>
                    </section>
                </a>
            </div>

            <button class="see-more-modalities see-more-button">ver mais</button>
        </section>
    </div>
    <script src="../js/mobileMenuAction.js"></script>
    <script src="../js/firstPage.js"></script>
</body>

</html>